PORT=3001
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/Aegis
JWT_SECRET=replace_with_a_long_random_secret
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_FROM_NUMBER=+10000000000
TWILIO_TO_NUMBER=+10000000000
